IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
PATH_FAT=/home/utnso/tp-2023-2c-En_esta_la_firmamOS/FileSystem/fat.dat
PATH_BLOQUES=/home/utnso/tp-2023-2c-En_esta_la_firmamOS/FileSystem/bloques.dat
PATH_FCB=/home/utnso/tp-2023-2c-En_esta_la_firmamOS/FileSystem/
CANT_BLOQUES_TOTAL=512
CANT_BLOQUES_SWAP=128
TAM_BLOQUE=8
RETARDO_ACCESO_BLOQUE=2500
RETARDO_ACCESO_FAT=500